<%- include("partials/header") %>

   <div class = "container" id="login">
   <h1>Please Log in your details</h1>
<form action = "/login" method = "POST">
   <input type="text" placeholder = "username" name = "username">
   <input type="password" placeholder = "password" name = "password">
   <input type="submit" value = "Log In"  class="btn  btn-success login" >
</form>
</div>

<%- include("partials/footer") %>