<%- include ("partials/header") %>
<div class="conatiner" id="register">
<h1>Please register</h1>
<form action="/register" method="POST">
	<input type="text" name="username" placeholder="username">
	<input type="password" name="password" placeholder="password">
	<button  class="btn btn-lg btn-success register">
		Submit
	</button>
</form>
</div>
<%- include ("partials/footer") %>